<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuração do DataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/infnet_project"/>
        <property name="username" value="root"/>
        <property name="password" value="root1234"/>
    </bean>

    <!-- Configuração do JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!-- Configuração do seu repositório de Aluno -->
    <bean id="alunoService" class="br.edu.infnet.project.db.repository.AlunoRepository">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <!-- Configuração do seu repositório de Professor -->
    <bean id="professorService" class="br.edu.infnet.project.db.repository.ProfessorRepository">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <!-- Configuração do seu repositório de Responsável -->
    <bean id="responsavelService" class="br.edu.infnet.project.db.repository.ResponsavelRepository">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <!-- Configuração do seu repositório de SalaAula -->
    <bean id="salaAulaService" class="br.edu.infnet.project.db.repository.SalaAulaRepository">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>
</beans>
